* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    background-image: url('/src/images/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .products {
    background-image: url('/src/images/img-2.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('/src/images/img-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  } 

  /* Estilos para el modal */
.modal {
  display: flex; /* Asegura que se ajuste al centro */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  font-size: 30px;
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  border: 2px solid #000; /* Borde negro */
  padding: 10px;          /* Espaciado interno */
  border-radius: 5px;     /* Bordes redondeados */
  margin: 20px;           /* Espaciado externo */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura total de la pantalla */
}

.button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button.youtube {
  background-color: #ff0000;
  color: white;
}

.button.reproductor {
  background-color: #4caf50;
  color: white;
}
.divContenedor {
  
  display: flex;           /* Activa Flexbox */
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center;     /* Centra los botones verticalmente */
  height: 200px;           /* Ajusta la altura del contenedor según tus necesidades */
  width: 100%;             /* Asegura que ocupe todo el ancho */
}

.react-calendar {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

.react-calendar__tile--active {
  background: #2d89ef;
  color: white;
}
